/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

/* Menyn */

 #menu {
    background-image: url(pics/coffey.jpg);
    background-repeat: no-repeat;
    padding-top: 184px;
    width: 600px;
}

#menu a {
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-left: 1px solid black;
}

#menu a:hover {
    display: block;
    background-color: rgba(156, 144, 132, 1);
}


#menu li a {
    display: block;
    color: white;
    background-color: rgba(121, 112, 102, 1);
    text-decoration: none;
    font-family: "Verdana" , "Serif", fantasy;
    font-size: 14px;
    margin-bottom: 10px;
}

#menu li.active a {
    display: block;
    color: rgba(121, 112, 102, 1);
    background-color: rgba(234, 231, 210, 1);
    text-decoration: none;
    font-family: "Verdana" , "Serif", fantasy;
    font-size: 14px;
    margin-bottom: 10px;
}

#menu ul {
    padding: 31px;
    background-color: rgba(81, 71, 61, 1);
}

#menu ul li {
    display: block;
    float: left;
}

#menu ul li:first-letter {
    text-transform: uppercase;
}

/* Layout */

#container {
    overflow: auto;
    margin: 0 auto;
    max-width: 600px;
    background-color: rgba(234, 231, 210, 1);
    border: 1px solid rgba(121, 112, 102, 1);
    color: rgba(121, 112, 102, 1);
}

#container h1 {
    font-weight: normal;
}

#container h2 {
    font-weight: normal;
}

#topbar {
    vertical-align: text-top;
    text-align: right;
    background-color: rgba(81, 71, 61, 1);
    font-style: italic;
    color: white;
}

#maincontent {
    float: left;
    width: 280px;
    border-right: 1px dashed rgba(121, 112, 102, 1);
    padding: 8px;
}

#maincontent img {
    float: left;
    padding-right: 7px;
}

#subcontent {
    float: right;
    width: 280px;
    padding: 8px;
}

#subcontent p {
    font-family: "Verdana", "Arial", fantasy;
    font-size: 10px;
    line-height: 22px;
}

#subcontent h1 {
    font-size: 20px;
}

#subcontent h2 {
    font-size: 15px;
}

#subcontent a {
    display: block;
    float: left;
    color: rgba(81, 71, 61, 1);
    margin-left: none;
}

#subcontent h2 + ul {
    margin: 0px;
    padding: 0px;
}

#subcontent ul {
    display: inline;
}

#bottomcontent {
    float: left;
    width: 305px;
    font-size: 12px;
    font-style: italic;
    padding-left: 7px;
}